! ============================================================
! Unused Port Configuration
! ============================================================
!
{% for iface in interfaces %}
default interface {{ iface.interface_name }}
interface {{ iface.interface_name }}
 description * unused *
 switchport mode access
 switchport access vlan {{ settings.defaults.unused_vlan | default(999, true) }}
 shutdown
!
{% endfor %}
