! ============================================================
! Server Access Port Configuration
! ============================================================
!
{% for iface in interfaces %}
interface {{ iface.interface_name }}
 description {{ iface.description if iface.description else '** Server Access **' }}
 switchport mode access
 switchport access vlan {{ iface.access_vlan }}
 switchport nonegotiate
 load-interval 30
 storm-control broadcast level 1.00 0.70
 storm-control multicast level 1.00 0.70
 spanning-tree portfast
 spanning-tree guard root
 spanning-tree bpduguard enable
 no shutdown
!
{% endfor %}
